* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url("Manju.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    padding: 10px 10%;
}
.logo {
    width: 240px; 
    height: auto;
    object-fit: contain;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background-color: rgb(5, 125, 172);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width:100%;
}
.headr_text{
    margin-top: 20%;
    font-size: 30px;
}
.headr_text h1{
    margin-top: 20px;
    font-size: 60px;
}
.headr_text h1 span{
    color:rgb(5, 125, 172) ;
}
/*-----------------------About----------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about_col_1{
    flex-basis: 35%;
}
.about_col_1 img{
    width:100%;
    border-radius: 15px;

}
.about_col_2{
    flex-basis: 60%;
}
.sub_tittle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab_tittles{
    display: flex;
    margin:20px 0 40px;

}
.tab_links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab_links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(5, 125, 172);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}
.tab_links.active_link::after {
    width: 50%;
}
.tab_contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab_contents ul li span{
    color:rgb(5, 125, 172);
    font-size: 14px;

}
.tab_contents{
    display: none;
}
.tab_contents.active_tab{
    display: block;
}
#services{
    padding: 30px 0;
}
.services_list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services_list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition:background 0.5s,transform o.5s;
}
.services_list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services_list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services_list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services_list div:hover{
    background: rgb(5, 125, 172);
    transition: translateY(-10px);
}
/*------------------Portfile*/
#portfile{
    padding: 50px 0;
}
.work_list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width:100%;
    border-radius: 10px;
    display: block;
    transition:transform 0.5s;
}
.layer{
    width: 100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(5, 125, 172));
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color:rgb(5, 125, 172);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height:60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height:100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border:1px solid rgb(5, 125, 172);
    padding: 4px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background:rgb(5, 125, 172) ;
/*     contact */

}
.contact_left{
    flex-basis: 35%;
}
.contact_right{
    flex-basis: 60%;
}
.contact_left p{
    margin-top: 30px;

}
.contact_left p i{
    color:rgb(5, 125, 172);
    margin-right: 15px;
    font-size: 25px;
}
.Social_icons{
    margin-top: 30px;
}
.Social_icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;

}
.Social_icons a:hover{
    color:rgb(5, 125, 172);
    transform:translateY(-5px);
}
.btn.btn2 {
    background: transparent;
    color: rgb(5, 125, 172);
    border: 2px solid rgb(5, 125, 172);
    display: inline-block;
}

.btn.btn2:hover {
    background: rgb(5, 125, 172);
    color: #fff;
}
.contact_right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copy_right{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}
.copy_right i{
    color: rgb(5, 125, 172) ;
}
/* Hide menu icons on large screens */
nav .fa-bars,
nav .fa-xmark {
  display: none;

}
html, body {
  overflow-x: hidden;

}
html{
    scroll-behavior: smooth;
}
/*      css for small screeen*/
@media only screen and (max-width: 600px) {
    #header {
        background-image: url("manju_m.jpg");
        
    }
    .headr_text{
        margin-top: 130%;
        font-size: 16px;
    }
    .headr_text h1{
        font-size: 30px;
    }
    nav .fa-bars,
    nav .fa-xmark {
    display:block;
    font-size: 20px;
    }
    nav ul{
        background:rgb(5, 125, 172) ;
        position: fixed;
        top: 0;
        right: -200px;
        width:200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav .fa-xmark{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }
    .sub_tittle{
        font-size: 40px;
    }
    .about_col_1,.about_col_2{
        flex-basis: 100%;
    }
    .about_col_1{
        margin-bottom: 30px;
    }
    .about_col_2{
        font-size: 14px;

    }
    .tab_links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact_left,.contact_right{
        flex-basis: 100%;
    }
    .copy_right{
        font-size: 14px;
    }
}
#msg{
    color:rgb(5, 125, 172) ;
    margin-top: -40px;
    display:block;
}